body {
    text-align: center;
    background: whitesmoke;
    color: darkgreen;
    padding: 20px 0;
}

button {
    background: lightcoral;
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
}