body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

img {
    width: 200px;
    display: block;
}
p {
    font-weight: 600;
    margin-bottom: 5px;
}
button {
    background: white;
    color: black;
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

#error {
    color: red;
    font-weight: 200;
}