body {
    text-align: center;
}

#container {
    margin-top: 30px;
}

#container button {
    background: lightcoral;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}